
.ello-people-1:before { content: '\e800'; } /* '' */
.ello-people:before { content: '\e801'; } /* '' */
.ello-cogwheel:before { content: '\e803'; } /* '' */
.ello-meeting-point:before { content: '\e805'; } /* '' */